* {
}

/*Navagation Styles*/
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-decoration: none;
}

.nav-list li {
  list-style-type: none;
}

.high-score {
  color: purple;
}

/*Front Page Styles*/
.front-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.front-page h1 {
  font-weight: bold;
  font-size: 20px;
}

.front-page p {
  font-weight: initial;
}

.start-button {
  background-color: blueviolet;
  text-align: center;
}
