/*Navigation Styles*/
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-decoration: none;
}

.nav-list li {
  list-style-type: none;
}

.high-score {
  color: rgb(191, 63, 191);
}

/*Front Page Styles*/

.front-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.front-page h1 {
  font-weight: bold;
  font-size: 20px;
}

.front-page p {
  font-weight: initial;
}

.start-button {
  background-color: rgb(191, 63, 191);
  text-align: center;
  font-size: 15px;
}

/*Questions and Answer Styles*/
.choice-button {
  display: block;
}

.choice-button {
  background-color: rgb(191, 63, 191);
  border-radius: 20px;
  font-size: 15px;
}

/*High Scores Page*/
